<!DOCTYPE html>
<html lang="en" ng-app="humanApp"><head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<meta content="chrome=1" http-equiv="X-UA-Compatible">
<link href="favicon.ico" type="image/x-icon" rel="shortcut icon">
<title>Human Anatomy and Disease in Interactive 3D | BioDigital Human Platform</title>

<meta content="The BioDigital Human is a virtual 3D body that visualizes human anatomy, disease and treatments in an interactive 3D web platform" name="description">
<meta content="human anatomy, 3d body, 3d anatomy, 3d human, virtual body, anatomy education, anatomy education, human visualization, 3D body map, human body API, online anatomy, BioDigital, BioDigital Human, body platform" name="keywords">
<meta content="BioDigital 2017" name="copyright">
<meta content="BioDigital" name="author">

<script>
(function() { // Set global engine and ui versions
    var QUERY_PARAMS = (function () {
        var params = {};
        var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi,
                function (m, key, value) {
                    // decode url param value
                    params[key] = decodeURIComponent(value);
                });

        return params;
    })();

    window.ENGINE_VERSION = QUERY_PARAMS["engine_version"] || QUERY_PARAMS["version"] || "10.4.0";

    window.UI_VERSION = QUERY_PARAMS["ui_version"] || "11.0.1";

    window.MINIFIED = QUERY_PARAMS["minified_libs"] !== "false";

    if (QUERY_PARAMS["set_domain"] && window.location.host.indexOf("biodigital.com") > -1) {
        document.domain = "biodigital.com";
    }
})();
</script>

<link href="lib/angular-bootstrap-colorpicker/colorpicker.min.css" type="text/css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic" type="text/css" rel="stylesheet">
<link href="css/base.css?v=5.0" type="text/css" rel="stylesheet">
<link href="css/assets.css?v=5.0" type="text/css" rel="stylesheet">
<link href="css/shell.css?v=5.0" type="text/css" rel="stylesheet">
<link href="css/help.css?v=5.0" type="text/css" rel="stylesheet">
<link href="css/icons.css?v=5.0" type="text/css" rel="stylesheet">
<link href="css/index.css?v=5.0" type="text/css" rel="stylesheet">
<link href="css/gallery.css?v=5.0" type="text/css" rel="stylesheet">

<link href="css/biodigital-font.css?v=5.0" type="text/css" rel="stylesheet">

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<script>
(function() {
    // load support CSS for engine and UI
    var cssFiles = [
      'scripts/engine/' + window.ENGINE_VERSION + '/css/engine.css?v=5.0',
      'css/engine-override.css?v=5.0',
      'scripts/ui/' + window.UI_VERSION + '/css/human-ui-' + window.UI_VERSION + '.css?v=5.0'
    ];

    var head = document.getElementsByTagName("head")[0];

    for (var i = 0; i < cssFiles.length; i++) {
        var path = cssFiles[i];
        var link = document.createElement("link");
        head.appendChild(link);
        link.onerror = function () { head.removeChild(link); };
        link.rel = "stylesheet";
        link.type = "text/css";
        link.href = path;
    }
})();
</script>

<link href="css/embed-tool.css" type="text/css" rel="stylesheet">
<link href="css/human-app.css" type="text/css" rel="stylesheet">
<link href="css/sidebar.css" type="text/css" rel="stylesheet">

<style widget-styles=""></style>

<script src="lib/jquery/jquery.min.js"></script>
<script src="lib/jquery/jquery-ui.min.js" defer></script>
<script src="lib/jquery/plugins/jquery-tmpl-beta1.min.js" defer></script>
<script src="lib/jquery/plugins/jquery.Scroller-1.0.min.js" defer></script>
<script src="lib/jquery/plugins/jquery.mousewheel.js" defer></script>
<script src="lib/jquery/plugins/jquery.autogrow-textarea.js" defer></script>
<script src="lib/jquery/plugins/inherit.js" defer></script>
<script src="lib/jquery/plugins/jquery.blockUI.js" defer></script>
<script src="lib/jquery/widgets/bd-jquery-ui.widget.js" defer></script>
<script src="lib/jquery/plugins/sketch.js" defer></script>
<script src="lib/jquery/plugins/jquery.initialize.js" defer></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>

<script src="lib/angular-bootstrap-colorpicker/colorpicker.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-resource.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-cookies.js"></script>

<script src="lib/require.js" data-main="lib/require-config" defer></script>
<script src="lib/canvas2image.js" defer></script>
<script src="lib/html2canvas.js" defer></script>
<script src="lib/stacktrace.js" defer></script>
<script src="lib/easeljs/easeljs-0.5.0.min.js" defer></script>
<script src="lib/easeljs/Bitmap.js" defer></script>
<script src="lib/encoding.js" defer></script>
<script src="lib/underscore-min.js" defer></script>
<script src="lib/underscore.string.min.js" defer></script>
<script src="lib/bootstrap-3.0.2/js/bootstrap.js" defer></script>
<script src="lib/ga.js" defer></script>

<script src="https://www.paypalobjects.com/api/checkout.js" log-level="warn" data-version-4=""></script>

<script>
(function() {
    var humanScripts = [
        "scripts/engine/" + window.ENGINE_VERSION + "/human-engine-" + window.ENGINE_VERSION + (window.MINIFIED ? ".min" : "" ) + ".js",
        "scripts/engine/" + window.ENGINE_VERSION + "/plugins/contextView/contextView.js"
    ];

    //write engine
    humanScripts.forEach(function(src) {
        document.write('<script defer src="' + src + '"><\/script>');
    });
})();
</script>

<script defer src="scripts/index.js?v=1522281025"></script><script defer src="lib/ga.js"></script><script>
(function () {
  var uiPath = "scripts/ui/" + window.UI_VERSION + "/human-ui-" + window.UI_VERSION + (window.MINIFIED ? ".min" : "" ) + ".js";

    document.write('<script defer src="' + uiPath + '"><\/script>');
})();
</script>

</head>
<body ng-class="{
    'timeline-enabled': (uiComponents.config.playPause || uiComponents.config.scrubber || uiComponents.config.tour || uiComponents.config.bookmarkTour)
}" class="explorer">
<human-app-progress>
  <div class="human-app-progress-content">
    <div class="loader"></div>
  </div>
  <div class="human-app-progress-footer">
    <img src="../img/human-app-progress-logo.png">
  </div>
</human-app-progress>

<div id="header">
  <div id="header-menu">

  </div>
</div>

<div class="watermark">
  <a href="https://www.biodigital.com" target="_blank"><img src="img/shim.gif" alt="BioDigital Human" title="BioDigital Human" id="logo" class="logo"></a>
</div>

<div ng-cloak="" id="header_search" ng-controller="WidgetGalleryController">
    <div style="display: none;" id="header_search_container">
        <div class="dropdown-groups-container">
          <button ng-click="viewControl.toggleDropdownGroups()" ng-class="{on: viewControl.viewDropdownGroups}" id="tiles-btn" class="circular transparent"><i class="app-qb-icon-tiles"></i></button>
        </div>
        <div ng-click="viewControl.closeModals()" class="search-box-container" id="main-search-box">

            <input name="search-box" placeholder="Search Human Library" tabindex="1" type="text" class="search-box" value="" id="search-box">
            

            <i class="app-qb-icon-close-small app-qb-icon-dark" id="search-box-clear"></i>
        </div>
    </div>

        <div style="display:none;" class="modal-overlay" id="header_search_modal">
      <div id="search_results_layer"></div>
    </div>

    <widget-gallery ng-class="{slidein: viewControl.viewWidgetGallery, slideout: !viewControl.viewWidgetGallery}" gallery="gallery" view-control="viewControl"></widget-gallery>

</div>

<human-toolbar></human-toolbar>
<canvas width="1024" style="margin: 0px; display: none;" id="bookmark_image_canvas" height="576"></canvas>


<div class="callout hidden-toggleable" id="header_share_callout">
    <div id="header_share_callout_tabs">

        <div class="hidden-toggleable" id="header_share_callout_section">
            <h1>Share This 3D View</h1>
            <div class="align-center hidden-toggleable" id="header_share_callout_content">
                <div class="align-center hidden-toggleable" id="header_share_callout_preview_canvas_viewport">
                    <canvas width="" id="header_share_callout_preview_canvas" height=""></canvas>
                    <div class="hidden-toggleable callout-message" id="header_share_callout_preview_canvas_error_msg">Preview image unavailable.</div>
                </div>
                <div class="align-center hidden-toggleable" id="header_share_callout_share_image_canvas_viewport">
                    <canvas width="800" style="margin: 0px;" id="header_share_callout_share_image_canvas" height="600"></canvas>
                </div>

                <ul style="" class="nav_icon input-group">
                    <li class="active"><a id="header_share_callout_default_blank"></a></li>
                    <li class=""><a id="header_share_callout_link_icon" title="Share link">
                        <img src="img/shim.gif" class="share-icon-small share-icon-small-link"></a></li>
                    <li class=""><a id="header_share_callout_email_icon" title="Email">
                        <img src="img/shim.gif" class="share-icon-small share-icon-small-email"></a></li>
                    <li class=""><a id="header_share_callout_embed_icon" title="Embed">
                        <img src="img/shim.gif" class="share-icon-small share-icon-small-embed"></a></li>
                    <li class=""><a id="header_share_callout_facebook_icon" title="Share to Facebook">
                        <img src="img/shim.gif" class="share-icon-small share-icon-small-facebook"></a></li>
                    <li class=""><a id="header_share_callout_twitter_icon" title="Share to Twitter">
                        <img src="img/shim.gif" class="share-icon-small share-icon-small-twitter"></a></li>
                    <li class=""><a id="header_share_callout_googleplus_icon" title="Share to Google+">
                        <img src="img/shim.gif" class="share-icon-small share-icon-small-google"></a></li>
                </ul>

            </div>
        </div>
        <div class="align-center hidden-toggleable" id="header_share_callout_upgrade_message">
            <div class="callout-message">
                Sorry, you have reached your My Human limit.<br>
                <a title="Upgrade to Premium" id="header_share_callout_upgrade_message_btn" class="">Upgrade</a> to a Premium Individual subscription to save more 3D views!
            </div>
        </div>
        <div class="hidden-toggleable" id="header_share_callout_save_bookmark_message_failure">
            <div class="callout-message">
                <h1 class="error">Sorry, we could not save your 3D view.</h1>
                Please try again later.
            </div>
        </div>

        <div class="hidden-toggleable" id="header_share_callout_save_bookmark_message_success">
            <h1 class="callout-message">3D view saved to My Human</h1>
        </div>
        <div class="callout-message hidden-toggleable" id="header_share_callout_form_notice">
            <img src="img/loader.gif" class="hidden-toggleable" id="header_share_callout_form_notice_throbber">
            <div class="hidden-toggleable" id="header_share_callout_form_notice_msg"></div>
        </div>
        <div class="callout-actions">
            <div class="btn-as-text cancel">Close</div>
        </div>
    </div>
</div>


<div ng-controller="ExplorerController" id="side" class="side">
  <div id="sidebar">
    <div ng-click="toggleGallery()" data-placement="right" title="BioDigital Human Library" data-toggle="tooltip" id="sidebar-gallery" tooltip="" class="sidebar-icon-button">
      <i class="bd-icon-tiles" id="sidebar-gallery-icon"></i>
    </div>
    <div ng-click="toggleGallery('My Human')" data-placement="right" title="My Human Library" data-toggle="tooltip" id="sidebar-my-human" tooltip="" class="sidebar-icon-button">
      <i class="bd-icon-body" id="sidebar-my-human-icon"></i>
    </div>
    <div data-placement="right" title="Anatomy Explorer" tooltip="" class="sidebar-icon-button" ng-class="{ 'on' : activeState === 'explorer' }" data-toggle="tooltip" sidebar-toggle="explorer" id="explorer-toggle">
      <i class="bd-icon-tree" id="sidebar-explorer-icon"></i>
    </div>
    <div data-placement="right" title="Customize 3D Model" tooltip="" class="sidebar-icon-button sidebar-icon-button-toggle" ng-class="{ 'on' : active }" toggle-toolbar="" data-toggle="tooltip" id="sidebar-tools">
      <i class="bd-icon-edit" id="sidebar-tools-icon"></i>
    </div>
    <div data-placement="right" title="Save 3D Model to My Human" save-human="" tooltip="" class="sidebar-icon-button" ng-class="{ 'disabled': isCreateTourModeOn }" data-toggle="tooltip" id="sidebar-save">
      <i class="bd-icon-plus" id="sidebar-save-icon"></i>
    </div>
    <div data-placement="right" title="Embed 3D Model" share-embed-toggle="" tooltip="" class="sidebar-icon-button" embed-toggle="on" ng-class="{ 'on' : activeState === 'embed' }" data-toggle="tooltip" id="sidebar-embed">
      <i class="bd-icon-code" id="sidebar-embed-icon"></i>
    </div>
    <div id="sidebar-bottom-group-container">
      <sidebar-callout>
        <div ng-click="toggleCallout()" data-placement="right" title="Help Center" global-close="" tooltip="" class="sidebar-icon-button" ng-class="{ 'on' : active }" data-toggle="tooltip" id="sidebar-help">
          <i class="bd-icon-help" id="sidebar-help-icon"></i>
        </div>
        <help-callout ng-cloak="" class="sidebar-callout-menu" ng-show="active"></help-callout>
      </sidebar-callout>
      <sidebar-callout>
        <div ng-click="toggleCallout()" data-placement="right" title="Settings" global-close="" tooltip="" class="sidebar-icon-button" ng-class="{ 'on' : active }" data-toggle="tooltip" id="sidebar-settings">
          <i class="bd-icon-settings" id="sidebar-settings-icon"></i>
        </div>
        <div ng-cloak="" class="sidebar-callout-menu" ng-show="active" id="settings-callout">
          <ul>
            <li id="upgrade-account-btn"><span>Upgrade to Premium</span></li>
            <li>
              <a data-width="700px" href="user-account.html" data-height="550px" modal-link="" title="My Account">
                <i class="bd-icon-user"></i>
                <span>Account</span>
              </a>
            </li>
            <li id="sign-in-out-btn">
              <i class="bd-icon-signout"></i>
              <span>Sign out</span>
            </li>
          </ul>
          <ul>
            <li>
              <a data-width="700px" href="about.html" data-height="450px" modal-link="">
                <span>About BioDigital Human</span>
              </a>
            </li>
            <li>
              <a data-width="700px" href="human-mobile-app.html" data-height="400px" modal-link="">
                <span>Download Mobile App</span>
              </a>
            </li>
          </ul>
        </div>
      </sidebar-callout>
    </div>
  </div>

  <div resizable-element="" ng-cloak="" ng-class="!!activeState ? 'slide-in' : 'slide-out'" ng-show="!!activeState" id="sidepanel">
    <div id="panels">
      <div human-scene-objects="" show-asset-objects="" ng-cloak="" ng-show="shown" sidebar-toggle-panel="explorer" id="sidepanel-tree">
        <div class="panel-title" ng-show="false">Anatomy Explorer</div>

        <human-object-list-search search-placeholder="Search Current 3D Model" target="human-object-list" focus-on-input=""></human-object-list-search>

        <div class="search-mode-toggle" ng-show="curView === 'list'">
          <div ng-click="toggleXRay()" ng-class="{ 'on' : xRayEnabled }" class="bd-toggle"></div>
          <label ng-click="toggleXRay()">
            Show in X-Ray mode
          </label>
        </div>

        <div class="sidepanel-tabs" ng-show="false">
          <div ng-class="{'on': curView === 'tree'}" class="sidepanel-tab">Tree</div>
          <div ng-class="{'on': curView === 'list'}" class="sidepanel-tab">List</div>
        </div>

        <human-object-tree tabindex="4" class="show-unrendered" ng-hide="curView === 'list'">
        </human-object-tree>

        <human-object-list tabindex="3" class="flat-list" ng-hide="curView === 'tree'">
        </human-object-list>
      </div>
    </div>
  </div>
</div>


<div ng-cloak="" class="dialog-flex-container" ng-show="shown" ng-controller="ShareController">
  <div class="dialog">
    <div class="dialog-header">
      <ng-switch on="mode">
        <h1 ng-switch-when="save">Save to My Human</h1>
        <h1 ng-switch-when="share">Sharing</h1>
      </ng-switch>
      <div ng-click="close()" class="dialog-close"><i class="bd-icon-close"></i></div>
    </div>

    <div class="dialog-content">
      <div ng-cloak="" class="dialog-content-section" ng-show="mode === 'save'" id="">
        <form ng-submit="save()" class="dialog-form" ng-show="!!!saving" id="new_save_callout_form">
          <div class="dialog-form-row">
            <div class="dialog-form-label required">
              <label for="new_save_callout_title">Title</label>
              <span class="length-counter" id="new_save_callout_title_counter">{{ model['title'].length }}/{{ maxTitleLength }}</span>
            </div>
            <div class="dialog-form-field">
              <input ng-model="model['title']" focus-on-input="shown" placeholder="" required="" value="" autocomplete="off" maxlength="{{maxTitleLength}}" type="text" id="new_save_callout_title">
            </div>
          </div>

          <div class="dialog-form-row">
            <div class="dialog-form-label">
              <label for="new_save_callout_description">Description</label>
              <span class="length-counter" id="new_save_callout_description_counter">{{ model['description'].length }}/{{ maxDescLength }}</span>
            </div>
            <div class="dialog-form-field">
              <textarea ng-model="model['description']" rows="5" maxlength="{{maxDescLength}}" placeholder="" id="new_save_callout_description" value=""></textarea>
            </div>
          </div>

          <div class="dialog-form-row">
            <div class="dialog-form-label">
              <label>Privacy</label>
            </div>
            <div class="dialog-form-field">
              <div ng-cloak="" class="checkbox-input" ng-show="groupAvailable" id="new_save_callout_is_group_div">
                <input ng-model="model['isGroup']" type="checkbox" id="new_save_callout_is_group_cb" name="new_save_callout_is_group_cb">
                <label group-info="" for="new_save_callout_is_group_cb">Save a copy to the {{ groupInfo.name }} group</label>
                <i class="bd-icon-help dialog-form-icon" title="All members of your group can see your custom view."></i>
              </div>
              <div class="checkbox-input" id="new_save_callout_is_public_div">
                <input ng-model="model['isPublic']" type="checkbox" id="new_save_callout_is_public_cb" name="testme">
                <label for="new_save_callout_is_public_cb">Save a copy to the Community</label>
                <i class="bd-icon-help dialog-form-icon" title="All users will be able to see your custom view under Community."></i>
              </div>
            </div>
          </div>

          <div class="dialog-footer">
            <input title="Save Bookmark" type="submit" class="button" value="Save Bookmark" id="new_save_callout_save_btn">
          </div>
        </form>

        <ng-switch on="status">
          <div ng-switch-when="upgrade">
            Sorry, you have reached your My Human limit.<br>
            <a title="Upgrade to Premium" id="header_share_callout_upgrade_message_btn" class="">Upgrade</a> to a Premium Individual subscription to save more 3D views!
          </div>
          <div ng-switch-when="fail">
            <h1 class="error">Sorry, we could not save your 3D view.</h1>
            Please try again later.
          </div>
          <div ng-switch-when="success">
            <h1 class="callout-message">3D view saved to My Human</h1>
          </div>
        </ng-switch>
      </div>

      <div ng-cloak="" ng-controller="SocialShareController" id="" ng-show="mode === 'share' &amp;&amp; !!!saving" class="dialog-content-section">
        <div class="share-items">
          <div class="share-item" id="share-link">
            <img src="img/link.svg" title="Link">
            <span>Link</span>
          </div>
          <div class="share-item" id="share-embed">
            <img src="img/embed.svg" title="Embed">
            <span>Embed</span>
          </div>
          <div class="share-item" id="share-facebook">
            <img src="img/facebook.svg" title="Facebook">
            <span>Facebook</span>
          </div>
          <div class="share-item" id="share-twitter">
            <img src="img/twitter.svg" title="Twitter">
            <span>Twitter</span>
          </div>
          <div class="share-item" id="share-google">
            <img src="img/google.svg" title="Google">
            <span>Google</span>
          </div>
        </div>
        <div class="share-item-link" ng-show="!!shortUrl">
          <input ng-model="shortUrl" readonly select-text="" focus-on-input="shortUrl" type="text" id="share-link-text">
        </div>
      </div>

      <div ng-cloak="" class="dialog-message" ng-show="saving" id="new_save_callout_form_notice">
        <img src="img/loader.gif" class="" id="new_save_callout_form_notice_throbber">
        <div id="new_save_callout_form_notice_msg"></div>
      </div>
    </div>
  </div>
</div>

<div ng-class="{'shown': shown}" ng-show="shown" ng-cloak="" save-dialog-toggle="" class="modal-overlay" id="share-modal-overlay"></div>


<div id="virtual-window-overflow">

  <div ng-controller="VirtualWindowController" widget-ui-components="" id="virtual-window" media-classes="" class="embed-tool">

    <div background-color-stops="0,100" background-color-gradient="radial" background-color=".96,.96,.96,1,.96,.96,.96,1" id="container">
        <canvas width="1024" height="768" id="theCanvas" class="canvasBody"></canvas>
        <canvas width="1024" height="768" id="annotationCanvas" class="canvasBody"></canvas>

        <human-load-progress load-progress="bar" ng-cloak="" ng-show="show">
        </human-load-progress>

        <content-loading></content-loading>

        <div class="modal" id="help-tour-intro">
            <h2>Welcome to the BioDigital Human!</h2>
            <div>
                <a href="#" class="close-skip btn-as-text" id="skip-tour">Skip</a>
                <button data-dismiss="modal" type="button" class="start-help-tour btn btn-primary close-continue">Take the Tour</button>
            </div>
        </div>

        <div id="timeline-components">
          <human-scrubber ng-cloak="" ng-show="(embedMode &amp;&amp; embedUIStore.config.scrubber) || (!embedMode &amp;&amp; show)"></human-scrubber>
          <human-play-pause ng-cloak="" ng-show="(embedMode &amp;&amp; embedUIStore.config.playPause) || (!embedMode &amp;&amp; show)"></human-play-pause>
          <human-tour ng-cloak="" ng-show="(embedMode &amp;&amp; embedUIStore.config.tour) || (!embedMode &amp;&amp; show)"></human-tour>
        </div>

        <tour-editor class="tour-creator" ng-show="!embedMode &amp;&amp; show" edit-mode="true">
        </tour-editor>

        <tour-viewer ng-show="!embedMode &amp;&amp; show"></tour-viewer>
    </div>

    <div ng-controller="embedComponentsController">
      <div ng-include="componentsUrl"></div>
    </div>

  </div>
</div>

<div class="info-panel dock-top dock-right hide" id="info_panel"></div>

<bookmark-edit-callout></bookmark-edit-callout>

<div class="modal hidden-toggleable" id="snapshot_panel">
    <div class="modal-header">
        <span class="modal-title">Human Snapshot</span>
        <div alt="Close" class="modal-close close" title="Close"><i class="bd-icon-close"></i></div>
    </div>
    <div class="modal-content" id="snapshot_panel_body">
        <figure class="hidden-toggleable" id="snapshot_panel_figure"></figure>
        <div class="toolbar" id="snapshot_toolbar">
            <div class="tool-group">
                <div title="Pen Color" id="snapshot_pen_color_selection_link" class="tool-button-select tooltip-bottom">
                    <div id="snapshot_pen_color_selection_icon"></div>
                    <span id="snapshot_pen_color_selection_text"></span>
                </div>
                <div class="tool-button-select-dropdown hidden-toggleable" id="snapshot_pen_color_dropdown">
                    <a data-color="#f00">
                        <label for="snapshot_pen_color_red_option" title="Red">
                            <input type="radio" name="snapshot_pen_color_options" id="snapshot_pen_color_red_option">
                            <div class="option-icon snapshot-pen-color-icon snapshot-pen-color-red-icon"></div>
                            <span>Red</span>
                        </label>
                    </a>
                    <a data-color="#00f">
                        <label for="snapshot_pen_color_blue_option" title="Blue">
                            <input type="radio" name="snapshot_pen_color_options" id="snapshot_pen_color_blue_option">
                            <div class="option-icon snapshot-pen-color-icon snapshot-pen-color-blue-icon"></div>
                            <span>Blue</span>
                        </label>
                    </a>
                    <a data-color="#0f0">
                        <label for="snapshot_pen_color_green_option" title="Green">
                            <input type="radio" name="snapshot_pen_color_options" id="snapshot_pen_color_green_option">
                            <div class="option-icon snapshot-pen-color-icon snapshot-pen-color-green-icon"></div>
                            <span>Green</span>
                        </label>
                    </a>
                    <a data-color="#ff0">
                        <label for="snapshot_pen_color_yellow_option" title="Yellow">
                            <input type="radio" name="snapshot_pen_color_options" id="snapshot_pen_color_yellow_option">
                            <div class="option-icon snapshot-pen-color-icon snapshot-pen-color-yellow-icon"></div>
                            <span>Yellow</span>
                        </label>
                    </a>
                    <a data-color="#fff">
                        <label for="snapshot_pen_color_white_option" title="White">
                            <input type="radio" name="snapshot_pen_color_options" id="snapshot_pen_color_white_option">
                            <div class="option-icon snapshot-pen-color-icon snapshot-pen-color-white-icon"></div>
                            <span>White</span>
                        </label>
                    </a>
                    <a data-color="#000">
                        <label for="snapshot_pen_color_black_option" title="Black">
                            <input type="radio" name="snapshot_pen_color_options" id="snapshot_pen_color_black_option">
                            <div class="option-icon snapshot-pen-color-icon snapshot-pen-color-black-icon"></div>
                            <span>Black</span>
                        </label>
                    </a>
                </div>
            </div>
            <div class="tool-separator">
            </div>
            <div class="tool-group">
                <div title="Pen Size" id="snapshot_pen_size_selection_link" class="tool-button-select tooltip-bottom">
                    <div id="snapshot_pen_size_selection_icon"></div>
                    <span id="snapshot_pen_size_selection_text"></span>
                </div>
                <div class="tool-button-select-dropdown hidden-toggleable" id="snapshot_pen_size_dropdown">
                    <a data-size="3">
                        <label title="Small">
                            <input type="radio" name="snapshot_pen_size_options" id="snapshot_pen_size_small_option">
                            <div class="option-icon snapshot-pen-size-icon snapshot-pen-size-small-icon"></div>
                            <span>Small</span>
                        </label>
                    </a>
                    <a data-size="8">
                        <label title="Medium">
                            <input type="radio" name="snapshot_pen_size_options" id="snapshot_pen_size_medium_option">
                            <div class="option-icon snapshot-pen-size-icon snapshot-pen-size-medium-icon"></div>
                            <span>Medium</span>
                        </label>
                    </a>
                    <a data-size="13">
                        <label title="Large">
                            <input type="radio" name="snapshot_pen_size_options" id="snapshot_pen_size_large_option">
                            <div class="option-icon snapshot-pen-size-icon snapshot-pen-size-large-icon"></div>
                            <span>Large</span>
                        </label>
                    </a>
                </div>
            </div>
            <div class="tool-separator">
            </div>
            <div class="tool-group">
                <div title="Undo" id="snapshot_panel_undo_button" class="tool-button tooltip-bottom">
                    <img src="img/shim.gif" class="icon-undo icon-dark"></div>
            </div>
            <div class="tool-group">
                <div title="Reset" id="snapshot_panel_reset_button" class="tool-button tooltip-bottom">
                    <img src="img/shim.gif" class="icon-reload icon-dark"></div>
            </div>
            <div class="tool-separator">
            </div>
            <div class="tool-group">
                <ul class="bg-selector float-left" id="snapshot_panel_bg_colors">
                    <li data-color="black"><span></span></li>
                    <li data-color="white"><span></span></li>
                    <li data-color="standard"><span></span></li>
                    <li data-color="gradient"><span></span></li>
                </ul>
                <span class="tool-group-label">Background</span>
            </div>
        </div>
        <div id="snapshot_panel_canvas_viewport">
            <canvas width="1024" style="margin: 0px;" id="snapshot_sketch_canvas" height="576"></canvas>
            <canvas width="1024" style="margin: 0px;" id="snapshot_render_canvas" height="576"></canvas>
        </div>
        <canvas width="1024" style="margin: 0px;
            display: none;" id="snapshot_highres_canvas" height="576"></canvas>
        <img src="img/bhuman-logo-snapshot.png" alt="BioDigital Human" style="display: none;" id="snapshot_panel_logo" title="BioDigital Human">

        <div class="modal-content-actions align-center">

            <button class="btn" id="snapshot_panel_image_url_generate_button">
                EMBED THIS IMAGE ON YOUR WEBSITE</button>
            <span style="margin-left: 10px; " class="gray-dark">
               -- OR --
            </span>
            <span style="margin-left: 10px; ">
                <button class="btn" id="snapshot_panel_save_button">
                    SAVE FOR OFFLINE USE (Premium)</button>
            </span>
        </div>

        <div class="modal-content-actions align-center" id="snapshot_panel_image_url_div">
             <span style="margin-left: 15px; ">
                <textarea style="width: 60%; resize: none;" rows="3" name="snapshot_panel_image_url" select-text="" id="snapshot_panel_image_url" class="hidden-toggleable"></textarea>
                <img src="img/large-loader.gif" class="hidden-toggleable" id="snapshot_panel_image_url_loading">
                <span class="hidden-toggleable gray" id="snapshot_panel_image_url_message"></span>
            </span>
        </div>


        <div class="modal-content-actions align-center hidden-toggleable">
            <button class="btn" id="snapshot_panel_std_button">
                Save Standard Image</button>
            <button class="btn" id="snapshot_panel_high_button">
                Save High Res Image (Premium)</button>
        </div>

        <div style="text-align: center; margin: 5px auto;" display="none;" id="snapshot_panel_options"></div>
    </div>
    <div id="snapshot-panel-tab_email">
        <div class="hidden-toggleable" id="snapshot-panel-tab_email_success">
            <div class="form-message">
                Okay, your email has been sent!</div>
        </div>
        <div class="hidden-toggleable" id="snapshot-panel-tab_email_error">
            <div class="form-message">
                Sorry, we could not send your email.
                <br>
                Please try again later.</div>
        </div>
        <form class="form" id="snapshot-panel-tab_email_form">
            <label class="top-label" for="snapshot-panel-tab_email_form_my_email">
                From (<em>your email address</em>)</label>
            <input placeholder="Your email" required="" type="email" id="snapshot-panel-tab_email_form_my_email">
            <label class="top-label" for="snapshot-panel-tab_email_form_their_email">
                To (<em>up to 10 email addresses separated by commas</em>)</label>
            <input placeholder="Their email" required="" type="text" class="input-full" id="snapshot-panel-tab_email_form_their_email">
            <label class="top-label" for="snapshot-panel-tab_email_form_subject">
                Subject</label>
            <input type="text" required="" placeholder="Subject" id="snapshot-panel-tab_email_form_subject" value="Explore the Human Body in 3D!" class="input-full">
            <label class="top-label" for="snapshotPanelTab_email_form_message">
                Message</label>
            <textarea rows="4" maxlength="512" wrap="hard" class="input-full" required="" cols="auto" id="snapshotPanelTab_email_form_message">Explore the Human Body in 3D!</textarea>
            <p class="align-center">
                <input title="Share" type="button" class="snapshot-panel-tab_share btn btn-medium btn-primary" value="Share" id="snapshot-panel-tab_email_form_submit">
            </p>
        </form>
    </div>
    <div class="gradient-topbottom-darkblue">
    </div>
</div>

<div class="info-panel hidden-toggleable" id="quiz_panel">
    <div class="info-panel-top">
        <span id="quiz_panel_title">Test your knowledge</span>
        <img src="img/shim.gif" alt="Close" title="Close" id="quiz_panel_close_btn" class="icon-close">
    </div>

    <div class="info-panel-body">
        <div id="quiz_panel_content">
            <div id="quiz_panel_content_start">
                <div id="quiz_panel_content_start_number_of_questions">
                    <div class="add-border-bottom">
                        <span class="bold">Number of questions?</span>
                    </div>
                    <form id="quiz_panel_content_start_number_of_questions_form">
                    </form>
                </div>
                <div class="align-center add-large-margin-top">
                    <a href="javascript:;" id="quiz_panel_content_start_submit" title="Let's get started!">
                        <span class="btn">Let's get started!</span></a>
                </div>
            </div>
            <div id="quiz_panel_content_question">
                <span id="quiz_panel_content_question_question"></span>
                <div>
                    <form id="quiz_panel_content_question_answers">
                    </form>
                </div>
            </div>
            <div class="align-center add-margin-top" id="quiz_panel_content_question_confirmAnswer">
                <a href="javascript:;" id="quiz_panel_content_question_submit" title="Confirm Answer">
                    <span class="btn">Confirm Answer</span></a>
            </div>
            <div id="quiz_panel_content_answer">
                <div class="quiz-answer-correct" id="quiz_panel_content_answer_notice">
                </div>
                <div class="align-center add-margin-top">
                    <span title="Next Question" id="quiz_panel_content_answer_submit" class="btn">
                        Next Question</span>
                </div>
            </div>
            <div id="quiz_panel_content_stop">
                <div id="quiz_panel_content_stop_client_scores">
                    <span id="quiz_panel_content_stop_client_scores_assessment"></span>You correctly
                    answered <span id="quiz_panel_content_stop_client_scores_correct"></span> out of
                    <span id="quiz_panel_content_stop_client_scores_total"></span> questions, for a total
                    score of <span id="quiz_panel_content_stop_client_scores_score"></span>%.
                </div>
                <div id="quiz_panel_content_stop_server_scores">
                    <div id="quiz_panel_content_stop_server_scores_activeProfessional_failure" class="hidden-toggleable">
                        <p>
                            Sorry, we could not compute your score against your peers. Try again later?
                        </p>
                    </div>
                    <div id="quiz_panel_content_stop_server_scores_activeProfessional_success" class="hidden-toggleable add-margin-top">
                        <ul>
                            <li>The highest score for this test was <span id="quiz_panel_content_stop_server_scores_activeProfessional_success_highest_score">
                            </span>% on <span id="quiz_panel_content_stop_server_scores_activeProfessional_success_highest_score_date">
                            </span>. </li>
                            <li><span id="quiz_panel_content_stop_server_scores_activeProfessional_success_overall_level_rank_valid">
                                You ranked in the <span id="quiz_panel_content_stop_server_scores_activeProfessional_success_overall_level_rank">
                                </span>% percentile amongst your peers.</span> <a href="javascript:;" id="quiz_panel_content_stop_server_scores_activeProfessional_success_overall_level_rank_invalid">Please enter a grade level to see how you ranked amongst your
                                peers.</a> </li>
                            <li>You ranked in the <span id="quiz_panel_content_stop_server_scores_activeProfessional_success_overall_rank">
                            </span>% percentile amongst everyone. </li>
                        </ul>
                    </div>
                    <div id="quiz_panel_content_stop_server_scores_notLoggedIn" class="hidden-toggleable">
                        <p>
                            <a href="javascript:;" onclick="Human_user.popUnderSignInModal();">Sign in to see how
                                you did against your peers!</a>
                        </p>
                    </div>
                    <div id="quiz_panel_content_stop_server_scores_notProfessional" class="hidden-toggleable add-margin-top">
                        <p>
                            Want to see how you did against your peers? <a href="javascript:;" onclick="Human_user.popUnderUpgradeHumanModal();">
                            Upgrade to the Premium Version.</a>
                        </p>
                    </div>
                    <div id="quiz_panel_content_stop_server_scores_pastDueProfessional" class="hidden-toggleable add-margin-top">
                        <p>
                            Looks like your Premium subscription expired. <a href="javascript:;" onclick="Human_user.popUnderUpdateSubscriptionModal();">
                            Update your Premium subscription.</a>
                        </p>
                    </div>
                </div>
                <div class="align-center add-margin-top">
                    <div class="btn align-center">
                        <a href="javascript:;" id="quiz_panel_content_stop_ok" title="No Thanks">No Thanks</a>
                    </div>
                    <div class="btn align-center">
                        <a href="javascript:;" id="quiz_panel_content_restart_quiz" title="Take Another Quiz">Take Another Quiz</a>
                    </div>
                    </div>
            </div>
        </div>
    </div>
</div>


<div id="app-quick-buttons">
    <div id="app-quick-buttons-navigation">
      <human-camera-zoom-in data-toggle="tooltip" data-placement="left" class="circular qb help-hilite" tooltip="" title="Zoom&#160;In">
      </human-camera-zoom-in>

      <human-camera-zoom-out data-toggle="tooltip" data-placement="left" class="circular qb help-hilite" tooltip="" title="Zoom&#160;Out">
      </human-camera-zoom-out>

      <human-camera-mode ng-class="{'on': mode === 'pan'}" data-placement="left" title="Pan" data-toggle="tooltip" class="circular qb help-hilite" tooltip="">
      </human-camera-mode>

      <human-camera-center data-toggle="tooltip" data-placement="left" class="circular qb help-hilite" tooltip="" title="Center&#160;View">
      </human-camera-center>

      <div data-placement="left" title="Navigator" tooltip="" class="circular qb help-hilite" ng-cloak="" mini-human-toggle="" ng-show="shown" data-toggle="tooltip" id="mini-human-toggle">
        <i ng-class="{ 'bd-icon-nextnext': isOpen, 'bd-icon-prevprev': !isOpen }"></i>
      </div>

    </div>
</div>

<human-hotspots></human-hotspots>

<div class="modal hidden-toggleable" id="modal">
    <div class="modal-header">
        <span class="modal-title" id="modal-title"></span>
        <div alt="Close" class="modal-close" title="Close"><i class="bd-icon-close"></i></div>
    </div>
    <div class="modal-content">
        <iframe src="blank.html" name="modal-frame" scrolling="auto" class="modal-frame normal-scroll" frameborder="0" id="modal-frame">
        </iframe>
    </div>
</div>

<div id="human-modal" class="modal hidden-toggleable">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
</div>

<div class="hide" id="help-tour"></div>

<div id="embed-tool-container">

  <div class="embed-tool" id="embed-tool">

    <header>
      <h1 class="modal-title">Customize Your Widget</h1>
      <div embed-toggle="off" class="modal-close">
        <i class="bd-icon-close"></i>
      </div>
    </header>

    <div id="config-options" ng-controller="EmbedToolController">

      <h2 ng-click="hideConfig = false; embedCode = undefined;" id="show-config-options" ng-show="hideConfig">
          <span>Back to Edit Options</span>
      </h2>

      <h1 ng-hide="hideConfig">Size</h1>

      <div ng-hide="hideConfig" id="embed-canvas-sizers">
        <embed-canvas-sizer dimension="width"></embed-canvas-sizer>
        <embed-canvas-sizer dimension="height"></embed-canvas-sizer>
      </div>

      <h1 ng-hide="hideConfig">Background Color</h1>

      <embed-background ng-hide="hideConfig"></embed-background>

      <h1 ng-hide="hideConfig">Display Options</h1>

      <embed-ui ng-hide="hideConfig"></embed-ui>

      <h1 ng-hide="hideConfig">Loading Experience</h1>

      <embed-loading-experience ng-hide="hideConfig">
      </embed-loading-experience>

      <h1 ng-show="developerMode &amp;&amp; developerDefaultApp &amp;&amp; !hideConfig">DEVELOPER APP</h1>
      <div id="embed-app" ng-show="developerMode &amp;&amp; developerDefaultApp &amp;&amp; !hideConfig">
        <h2 manage-dev-apps="">
          <span class="bd-icon-edit"></span>
          <span class="app-name">{{ developerDefaultApp.app_name }}</span>
        </h2>
      </div>

      <div id="embed-no-app" ng-show="!developerMode &amp;&amp; !hideConfig">
        <span>Interested in further customization?</span>
        <a href="https://developer.biodigital.com/request-access" target="_blank">Request Developer Access
        </a>
      </div>

      <button ng-click="getEmbedCode()" ng-hide="hideConfig" class="get-code">Publish Widget</button>

      <span id="code-generating" ng-show="codeGenerating">Generating...</span>

      <div ng-hide="codeGenerating || !embedCode" id="embed-code">
        <div><h2>Embed HTML</h2><span copy-text="#code-markup">copy</span></div>
        <textarea id="code-markup">{{ embedCode.markup }}</textarea>

        <div><h2>Direct Link</h2><span copy-text="#code-src">copy</span></div>
        <input type="text" id="code-src" value="{{ embedCode.src }}">
      </div>

    </div>
  </div>

</div>

<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=668103089905448&version=v2.3";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>


<script>!function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } } (document, "script", "twitter-wjs");</script>

<script type="text/javascript">
    (function () {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/platform.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
    </script>

<script>
(function(){
  var ac = document.getElementById("annotationCanvas");
  var accontext = ac.getContext("2d");
  var achr = document.getElementById("bookmark_image_canvas");
  var achrcontext = achr.getContext('2d');
})();
</script>



</body></html>
<!--     <h1>Initial web</h1>
    <h1>Function 1</h1>
    <p>https://github.com/jeffplourde/wfdb</p>
    <h1>Function 2</h1>
    <p>https://www.biodigital.com</p> -->
